.spanija-cont1{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

main{
    background-color: grey;
    padding: 80px 0;
}

.spanija-header{
    font-size: 50px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.spanija-h2{
    font-size: 40px;
    margin-bottom: 40px;
}

.spanija-rez{
    margin-top: 20px;
    margin-bottom: 100px;
}

.spanija-galerija{
    margin: 0 auto;
}

.img-wrap > img{
    width: 70%;
}