.cont{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

main{
    background-color: rgb(41, 41, 41);
    padding: 100px;
}

.stat-header{
    margin-bottom: 50px;
    color: grey;
}

button{
    outline: none;
    border: none;
    background-color: grey;
    width: 30px;
    height: 30px;
    padding: 0 0 5px 0;
    margin-right: 5px;
    cursor: pointer;
} button:hover{
    opacity:0.7;
}

